Repository litestar-org/advanced-alchemy, pull requests merged in 2024-12, with the labels that each got.

#303 feat: additional loader configurations and re-organization
  .pre-commit-config.yaml
  advanced_alchemy/base.py
  advanced_alchemy/config/common.py
  advanced_alchemy/mixins/__init__.py
  advanced_alchemy/mixins/audit.py
  advanced_alchemy/mixins/bigint.py
  advanced_alchemy/mixins/nanoid.py
  advanced_alchemy/mixins/sentinel.py
  advanced_alchemy/mixins/slug.py
  advanced_alchemy/mixins/unique.py
  advanced_alchemy/mixins/uuid.py
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/_util.py
  docs/reference/mixins/audit.rst
  docs/reference/mixins/bigint.rst
  docs/reference/mixins/index.rst
  docs/reference/mixins/nanoid.rst
  docs/reference/mixins/sentinel.rst
  docs/reference/mixins/slug.rst
  docs/reference/mixins/uuid.rst
  tests/fixtures/bigint/models.py
  tests/fixtures/uuid/models.py
  tests/helpers.py
  tests/integration/conftest.py
  tests/integration/test_alembic_commands.py
  tests/integration/test_association_proxy.py
  tests/integration/test_loader_and_execution_options.py
  tests/integration/test_sqlquery_service.py
  tests/unit/test_base.py
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, area/base, area/private-api, area/docs, area/repositories, area/mixins, area/config, size: large

#310 feat: `litestar` DTO enhancements
  advanced_alchemy/extensions/litestar/dto.py
  tests/unit/test_extensions/test_litestar/test_dto.py
Labels: pr/internal, type/feat, size: small, area/litestar

#308 feat: add default exception handler for `litestar` integration
  advanced_alchemy/extensions/litestar/alembic.py
  advanced_alchemy/extensions/litestar/cli.py
  advanced_alchemy/extensions/litestar/exception_handler.py
  advanced_alchemy/extensions/litestar/plugins/init/config/asyncio.py
  advanced_alchemy/extensions/litestar/plugins/init/config/sync.py
  advanced_alchemy/extensions/litestar/plugins/init/plugin.py
  sonar-project.properties
  tests/unit/test_extensions/test_litestar/test_init_plugin/test_asyncio.py
  tests/unit/test_extensions/test_litestar/test_init_plugin/test_sync.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, size: medium, size: small, area/litestar, area/ci

#307 feat!: allow override of `registry` for declarative bases
  advanced_alchemy/alembic/commands.py
  advanced_alchemy/alembic/templates/asyncio/env.py
  advanced_alchemy/alembic/templates/sync/env.py
  advanced_alchemy/base.py
  advanced_alchemy/config/asyncio.py
  advanced_alchemy/config/common.py
  advanced_alchemy/config/sync.py
  advanced_alchemy/extensions/litestar/__init__.py
  advanced_alchemy/extensions/litestar/alembic.py
  advanced_alchemy/extensions/litestar/cli.py
  advanced_alchemy/extensions/litestar/plugins/init/config/asyncio.py
  advanced_alchemy/extensions/litestar/plugins/init/config/sync.py
  docs/reference/alembic/index.rst
  docs/reference/alembic/utils.rst
  docs/reference/extensions/litestar/alembic.rst
  docs/reference/extensions/litestar/index.rst
  docs/usage/frameworks/fastapi.rst
  examples/fastapi.py
  sonar-project.properties
  tests/integration/test_alembic_commands.py
  tests/integration/test_loader_and_execution_options.py
  tests/integration/test_unique_mixin.py
  tests/unit/test_extensions/test_litestar/conftest.py
Labels: pr/internal, type/feat, area/base, size: medium, area/docs, area/litestar, area/config, area/ci, area/example-apps, area/alembic, Breaking 🔨

#314 fix: revert to `Optional` style type syntax
  advanced_alchemy/base.py
Labels: pr/internal, area/base, type/bug, size: small

#318 fix(typing): fix typing of id_attribute fields
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
Labels: area/private-api, type/bug, size: small, pr/external, Triage Required :hospital:, area/repositories

#320 feat: implement re-usable CLI
  .pre-commit-config.yaml
  Makefile
  advanced_alchemy/__init__.py
  advanced_alchemy/__main__.py
  advanced_alchemy/base.py
  advanced_alchemy/cli.py
  advanced_alchemy/extensions/litestar/cli.py
  advanced_alchemy/utils/module_loader.py
  pyproject.toml
  sonar-project.properties
  tests/unit/fixtures.py
  tests/unit/test_cli.py
  tests/unit/test_utils/test_module_loader.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/base, area/private-api, size: medium, area/litestar, area/ci
