Repository litestar-org/advanced-alchemy, pull requests merged in 2025-04, with the labels that each got.

#428 feat(CLI): add stamp command
  .pre-commit-config.yaml
  advanced_alchemy/cli.py
  tests/unit/test_cli.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, size: small

#336 feat(filters): adds an `ExistsFilter` and `NotExists` filter
  advanced_alchemy/filters.py
  tests/integration/test_filters.py
Labels: pr/internal, type/feat, size: small, area/filters

#430 feat(tests): fully migrate to `pytest-databases`
  pyproject.toml
  tests/conftest.py
  tests/docker-compose.yml
  tests/docker_service_fixtures.py
  tests/integration/conftest.py
  tests/integration/test_alembic_commands.py
  tests/integration/test_oracledb_json.py
  tests/integration/test_repository.py
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, size: small

#291 feat: file object data type
  .pre-commit-config.yaml
  README.md
  advanced_alchemy/_listeners.py
  advanced_alchemy/_serialization.py
  advanced_alchemy/alembic/templates/asyncio/script.py.mako
  advanced_alchemy/alembic/templates/sync/script.py.mako
  advanced_alchemy/base.py
  advanced_alchemy/config/asyncio.py
  advanced_alchemy/config/common.py
  advanced_alchemy/config/engine.py
  advanced_alchemy/config/sync.py
  advanced_alchemy/exceptions.py
  advanced_alchemy/extensions/fastapi/cli.py
  advanced_alchemy/extensions/flask/extension.py
  advanced_alchemy/extensions/litestar/cli.py
  advanced_alchemy/extensions/litestar/dto.py
  advanced_alchemy/extensions/litestar/plugins/init/config/asyncio.py
  advanced_alchemy/extensions/litestar/plugins/init/config/sync.py
  advanced_alchemy/extensions/sanic/config.py
  advanced_alchemy/extensions/sanic/extension.py
  advanced_alchemy/extensions/starlette/config.py
  advanced_alchemy/extensions/starlette/extension.py
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/base.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  advanced_alchemy/service/_typing.py
  advanced_alchemy/service/_util.py
  advanced_alchemy/types/__init__.py
  advanced_alchemy/types/encrypted_string.py
  advanced_alchemy/types/file_object/__init__.py
  advanced_alchemy/types/file_object/_utils.py
  advanced_alchemy/types/file_object/backends/__init__.py
  advanced_alchemy/types/file_object/backends/fsspec.py
  advanced_alchemy/types/file_object/backends/obstore.py
  advanced_alchemy/types/file_object/base.py
  advanced_alchemy/types/file_object/data_type.py
  advanced_alchemy/types/file_object/file.py
  advanced_alchemy/types/file_object/registry.py
  advanced_alchemy/types/file_object/session_tracker.py
  advanced_alchemy/types/mutables.py
  advanced_alchemy/utils/singleton.py
  docs/usage/types.rst
  pyproject.toml
  tests/fixtures/bigint/models.py
  tests/fixtures/bigint/repositories.py
  tests/fixtures/uuid/models.py
  tests/fixtures/uuid/repositories.py
  tests/helpers.py
  tests/integration/test_association_proxy.py
  tests/integration/test_file_object.py
  tests/integration/test_repository.py
  tests/unit/test_extensions/test_fastapi.py
  tests/unit/test_extensions/test_flask.py
  tests/unit/test_extensions/test_litestar/test_plugin.py
  tests/unit/test_file_object.py
  typos.toml
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, area/base, area/private-api, area/docs, area/litestar, area/repositories, area/config, size: large, area/alembic, area/services, area/exceptions, area/flask, area/sanic, area/fastapi

#311 feat(filters): Implements a `MultiFilter` type for complex searches
  advanced_alchemy/filters.py
  tests/integration/test_filters.py
Labels: pr/internal, type/feat, size: small, area/filters

#433 chore: update changelog.rst
  docs/changelog.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:

#434 fix(alembic): migration generation produces duplicated unique constraints
  advanced_alchemy/alembic/templates/asyncio/env.py
  advanced_alchemy/alembic/templates/sync/env.py
Labels: pr/internal, type/bug, size: small, area/alembic

#437 chore: make docs consistent
  docs/usage/database_seeding.rst
  docs/usage/frameworks/flask.rst
  docs/usage/modeling.rst
  docs/usage/repositories.rst
  docs/usage/types.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:

#439 chore(ci): updated docs deployment
  .github/workflows/docs.yml
Labels: pr/internal, size: small, area/ci

#438 feat: enable standard order by
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/_util.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/repository/typing.py
  tests/integration/test_repository.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories

#442 fix: make `SentinelMixin` compatible with `MappedAsDataclass`
  advanced_alchemy/mixins/sentinel.py
Labels: pr/internal, type/bug, size: small, pr/external, Triage Required :hospital:, area/mixins

#444 feat(litestar): additional filter configuration options
  .gitignore
  .pre-commit-config.yaml
  advanced_alchemy/extensions/litestar/providers.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/utils/text.py
  tests/unit/test_extensions/test_litestar/test_providers.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, size: small, area/litestar, area/repositories

#446 fix: btn ui
  docs/_static/custom.css
  docs/index.rst
Labels: area/docs, type/bug, size: small, pr/external, Triage Required :hospital:

#431 feat(fastapi): add dependency provider
  .pre-commit-config.yaml
  advanced_alchemy/extensions/fastapi/__init__.py
  advanced_alchemy/extensions/fastapi/extension.py
  advanced_alchemy/extensions/fastapi/providers.py
  advanced_alchemy/extensions/litestar/providers.py
  advanced_alchemy/extensions/starlette/extension.py
  examples/fastapi_filters.py
  sonar-project.properties
  tests/unit/test_extensions/test_fastapi/__init__.py
  tests/unit/test_extensions/test_fastapi/test_extension.py
  tests/unit/test_extensions/test_fastapi/test_providers.py
  tests/unit/test_extensions/test_litestar/test_providers.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, size: medium, area/litestar, area/ci, area/example-apps, area/fastapi

#450 fix: updated example `litestar_service.py` model
  examples/litestar/litestar_service.py
Labels: size: small, pr/external, Triage Required :hospital:, area/example-apps

#451 fix: `create_service_provider` supports any configuration now
  advanced_alchemy/extensions/litestar/providers.py
  tests/unit/test_extensions/test_litestar/test_providers.py
  uv.lock
Labels: pr/internal, area/dependencies, type/bug, size: small, area/litestar

#454 fix(litestar): update service provider to use dynamic session dependency key
  advanced_alchemy/extensions/litestar/providers.py
  tests/unit/test_extensions/test_litestar/test_providers.py
Labels: pr/internal, type/bug, size: small, area/litestar

#455 feat: allows positional args for session
  advanced_alchemy/extensions/litestar/providers.py
  tests/unit/test_extensions/test_litestar/test_providers.py
Labels: pr/internal, type/feat, size: small, area/litestar

#457 fix: remove stringified type hint
  advanced_alchemy/extensions/fastapi/extension.py
  advanced_alchemy/extensions/fastapi/providers.py
  advanced_alchemy/filters.py
  pyproject.toml
  tests/unit/test_extensions/test_fastapi/test_providers.py
  uv.lock
Labels: pr/internal, area/dependencies, type/bug, size: small, area/filters

#452 feat: PasswordHash field type
  README.md
  advanced_alchemy/alembic/templates/asyncio/script.py.mako
  advanced_alchemy/alembic/templates/sync/script.py.mako
  advanced_alchemy/types/__init__.py
  advanced_alchemy/types/password_hash/__init__.py
  advanced_alchemy/types/password_hash/argon2.py
  advanced_alchemy/types/password_hash/base.py
  advanced_alchemy/types/password_hash/passlib.py
  advanced_alchemy/types/password_hash/pwdlib.py
  docs/conf.py
  docs/reference/types.rst
  docs/usage/types.rst
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_password_hash.py
  tests/unit/test_extensions/test_litestar/test_dto_integration.py
  tools/sphinx_ext/missing_references.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, size: medium, area/docs, area/alembic, area/tools

#463 fix: raise if filter operator is not in `operators_map`
  advanced_alchemy/filters.py
  tests/integration/test_filters.py
Labels: pr/internal, type/bug, size: small, area/filters

#462 fix: `uniquify` respects init method override
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories
