Repository litestar-org/advanced-alchemy, pull requests merged in 2025-01, with the labels that each got.

#322 feat: adds additional type guard helpers
  .pre-commit-config.yaml
  advanced_alchemy/service/__init__.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  advanced_alchemy/service/typing.py
  advanced_alchemy/utils/text.py
  tests/integration/test_sqlquery_service.py
  tests/unit/test_extensions/test_starlette.py
  tests/unit/test_repository.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, size: medium, size: small, area/services

#324 feat(docs): updated styling and docstrings
  README.md
  advanced_alchemy/filters.py
  advanced_alchemy/operations.py
  docs/_static/custom.css
Labels: pr/internal, type/feat, area/docs, size: small, area/filters, area/operations

#325 docs: added information about accessing sessions
  docs/usage/frameworks/litestar.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#327 feat: updated `advanced_alchemy.base` reference docs
  .pre-commit-config.yaml
  advanced_alchemy/base.py
  advanced_alchemy/config/common.py
  docs/conf.py
  docs/getting-started.rst
  docs/reference/base.rst
  docs/reference/mixins/index.rst
  docs/usage/frameworks/litestar.rst
  pyproject.toml
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/base, size: medium, area/docs, size: small, area/config

#328 fix(docs): adjust title formatting for smaller screens
  advanced_alchemy/filters.py
  docs/_static/custom.css
Labels: pr/internal, area/docs, type/bug, size: small, area/filters

#329 chore: remove `.python-version`
  .python-version
Labels: pr/internal, size: small

#330 fix: correction for `3.8` and `3.9` type hints
  advanced_alchemy/extensions/litestar/plugins/init/plugin.py
  advanced_alchemy/mixins/nanoid.py
  advanced_alchemy/mixins/uuid.py
  docs/conf.py
  examples/fastapi.py
  examples/litestar/litestar_repo_only.py
  examples/litestar/litestar_service.py
  examples/sanic.py
  pyproject.toml
  tests/integration/test_loader_and_execution_options.py
  tests/unit/test_extensions/test_litestar/test_dto_integration.py
  tests/unit/test_extensions/test_litestar/test_init_plugin/test_common.py
  tests/unit/test_extensions/test_litestar/test_init_plugin/test_sync.py
  tests/unit/test_extensions/test_starlette.py
  uv.lock
Labels: pr/internal, area/dependencies, size: medium, area/docs, type/bug, area/litestar, area/mixins, area/example-apps

#334 docs: update color theme to match litestar
  docs/conf.py
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#335 docs: add types documentation
  docs/usage/index.rst
  docs/usage/types.rst
Labels: pr/internal, area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#333 docs: Add doc for creating a custom model
  docs/usage/modeling.rst
  docs/usage/services.rst
Labels: pr/internal, area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#339 feat(cli): add `bind-key` option to CLI
  advanced_alchemy/cli.py
  advanced_alchemy/extensions/litestar/cli.py
  pyproject.toml
  tests/unit/test_cli.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, size: small, area/litestar

#341 fix: fully qualify all `datetime` module references
  advanced_alchemy/_listeners.py
  advanced_alchemy/base.py
  advanced_alchemy/filters.py
  advanced_alchemy/mixins/audit.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  docs/conf.py
  docs/usage/frameworks/fastapi.rst
  docs/usage/frameworks/litestar.rst
  docs/usage/modeling.rst
  docs/usage/repositories.rst
  docs/usage/services.rst
  examples/fastapi.py
  examples/litestar/litestar_repo_only.py
  examples/litestar/litestar_service.py
  examples/sanic.py
  tests/fixtures/bigint/models.py
  tests/fixtures/uuid/models.py
  tests/integration/helpers.py
  tests/integration/test_repository.py
  tests/unit/test_extensions/test_litestar/test_dto.py
  tests/unit/test_repository.py
Labels: pr/internal, area/unit-tests, area/base, area/private-api, size: medium, area/docs, type/bug, area/repositories, area/mixins, area/example-apps, area/filters

#342 feat: various typing improvements for services
  .pre-commit-config.yaml
  advanced_alchemy/repository/typing.py
  advanced_alchemy/service/__init__.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  advanced_alchemy/service/_util.py
  advanced_alchemy/service/typing.py
  examples/fastapi.py
  examples/litestar/litestar_service.py
  pyproject.toml
  tests/fixtures/bigint/services.py
  tests/fixtures/uuid/services.py
  tests/integration/test_repository.py
  tests/integration/test_sqlquery_service.py
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, area/private-api, size: medium, area/repositories, area/example-apps, area/services

#343 chore: don't clear pre-commit cache
  Makefile
Labels: size: small, pr/external, Triage Required :hospital:

#344 fix: disabled `timezone` in alembic.ini
  advanced_alchemy/alembic/templates/asyncio/alembic.ini.mako
  advanced_alchemy/alembic/templates/sync/alembic.ini.mako
Labels: size: small, pr/external, Triage Required :hospital:, area/alembic

#345 docs: clarifications to services and modeling docs
  docs/conf.py
  docs/usage/frameworks/fastapi.rst
  docs/usage/frameworks/litestar.rst
  docs/usage/modeling.rst
  docs/usage/services.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#111 feat(flask): Auto extend Flask CLI and add session integration
  .pre-commit-config.yaml
  advanced_alchemy/extensions/flask/__init__.py
  advanced_alchemy/extensions/flask/alembic.py
  advanced_alchemy/extensions/flask/cli.py
  advanced_alchemy/extensions/flask/config.py
  advanced_alchemy/extensions/flask/extension.py
  advanced_alchemy/extensions/flask/service.py
  advanced_alchemy/utils/portals.py
  docs/usage/frameworks/flask.rst
  docs/usage/index.rst
  examples/flask.py
  examples/flask/__init__.py
  examples/flask/flask_services.py
  pyproject.toml
  tests/docker_service_fixtures.py
  tests/helpers.py
  tests/unit/test_extensions/test_flask.py
  tests/unit/test_extensions/test_litestar/test_dto.py
  tests/unit/test_extensions/test_litestar/test_dto_integration.py
  tests/unit/test_extensions/test_litestar/test_litestar_re_exports.py
  tests/unit/test_repository.py
  tests/unit/test_utils/test_portals.py
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, size: medium, area/docs, area/example-apps, area/flask

#346 chore: update `docs-serve` to find a port and open the browser
  Makefile
Labels: pr/internal, size: small, pr/external, Triage Required :hospital:

#347 feat: add convenience hooks for `to_model` operations
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/services

#348 docs: various copy edits and linking improvements
  advanced_alchemy/base.py
  docs/conf.py
  docs/getting-started.rst
  docs/index.rst
  docs/reference/mixins/index.rst
  docs/usage/frameworks/litestar.rst
  docs/usage/modeling.rst
  docs/usage/repositories.rst
  docs/usage/types.rst
Labels: area/base, area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#349 fix: standardize on `autocommit_include_redirect`
  advanced_alchemy/extensions/flask/config.py
  docs/usage/frameworks/flask.rst
  tests/unit/test_extensions/test_flask.py
Labels: pr/internal, area/docs, type/bug, size: small, area/flask

#350 fix(flask): implement default schema serializer
  advanced_alchemy/extensions/flask/__init__.py
  advanced_alchemy/extensions/flask/alembic.py
  advanced_alchemy/extensions/flask/config.py
  advanced_alchemy/extensions/flask/service.py
  tests/unit/test_extensions/test_flask.py
Labels: pr/internal, type/bug, size: small, area/flask

#353 feat: reorganize Sanic extension
  README.md
  advanced_alchemy/extensions/flask/__init__.py
  advanced_alchemy/extensions/flask/cli.py
  advanced_alchemy/extensions/flask/service.py
  advanced_alchemy/extensions/sanic/__init__.py
  advanced_alchemy/extensions/sanic/extension.py
  docs/PYPI_README.md
  docs/conf.py
  docs/reference/extensions/fastapi/index.rst
  docs/reference/extensions/flask/index.rst
  docs/reference/extensions/index.rst
  docs/reference/extensions/sanic.rst
  docs/reference/extensions/sanic/index.rst
  docs/reference/extensions/starlette.rst
  docs/reference/extensions/starlette/index.rst
  examples/sanic.py
  tests/unit/test_extensions/test_sanic.py
Labels: pr/internal, type/feat, size: medium, area/docs, area/example-apps, area/flask

#354 fix(cli): Using init db CLI command creates migrations directory in unexpected place
  advanced_alchemy/cli.py
  advanced_alchemy/extensions/flask/__init__.py
  advanced_alchemy/extensions/flask/alembic.py
  advanced_alchemy/extensions/flask/cli.py
  advanced_alchemy/extensions/flask/config.py
  advanced_alchemy/extensions/flask/utils.py
  advanced_alchemy/extensions/starlette/config.py
  examples/flask/flask_services.py
Labels: pr/internal, type/bug, size: small, area/example-apps, area/flask

#355 chore(ci): disable PR notifier
  .github/workflows/pr-merged.yml
Labels: pr/internal, size: small, area/ci

#358 feat: add hash to config classes
  advanced_alchemy/config/asyncio.py
  advanced_alchemy/config/common.py
  advanced_alchemy/config/sync.py
Labels: type/feat, size: small, pr/external, Triage Required :hospital:, area/config

#360 docs: correct invalid link to FastAPI example
  README.md
  docs/PYPI_README.md
Labels: pr/internal, area/docs, size: small, type/docs

#363 feat: add `wrap_exceptions` option to exception handler.
  advanced_alchemy/exceptions.py
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  tests/unit/test_exceptions.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories, area/services, area/exceptions

#366 feat: simplify configuration hash
  advanced_alchemy/config/common.py
Labels: pr/internal, type/feat, size: small, area/config

#368 fix: use `lifespan` context manager in Starlette and FastAPI
  .pre-commit-config.yaml
  advanced_alchemy/config/common.py
  advanced_alchemy/extensions/starlette/config.py
  advanced_alchemy/extensions/starlette/extension.py
  tests/unit/test_extensions/test_fastapi.py
  tests/unit/test_extensions/test_starlette.py
  uv.lock
Labels: pr/internal, area/dependencies, type/bug, size: small, area/config

#372 docs: add discord link in navbar
  docs/conf.py
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#369 docs: cli
  docs/usage/cli.rst
  docs/usage/index.rst
Labels: pr/internal, area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#377 docs: add type integration example
  docs/usage/cli.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#378 docs: add documentation to integrate alchemy commands in an existing group
  docs/usage/cli.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs
