Repository litestar-org/advanced-alchemy, pull requests merged in 2025-05, with the labels that each got.

#467 chore(ci): modify release preparation script
  .pre-commit-config.yaml
  tools/prepare_release.py
  uv.lock
Labels: pr/internal, area/dependencies, size: small, area/tools

#465 fix(types): correct type hints for with_for_update to ForUpdateParameter
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
Labels: area/private-api, type/bug, size: small, pr/external, Triage Required :hospital:, area/repositories, area/services

#468 chore: remove abandoned code
  advanced_alchemy/utils/sync_tools.py
  tests/unit/test_utils/test_sync_tools.py
  uv.lock
Labels: pr/internal, area/dependencies, size: small

#469 fix: BigIntPrimaryKey does not respect schema names
  advanced_alchemy/mixins/bigint.py
  sonar-project.properties
Labels: pr/internal, type/bug, size: small, area/mixins, area/ci

#471 feat(types): add __all__ exports for password hashing backends
  advanced_alchemy/types/password_hash/argon2.py
  advanced_alchemy/types/password_hash/passlib.py
  advanced_alchemy/types/password_hash/pwdlib.py
Labels: pr/internal, type/feat, size: small

#474 docs: fix docs and type hint of repository.add_many
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  docs/usage/frameworks/litestar.rst
  docs/usage/repositories.rst
Labels: pr/internal, area/private-api, area/docs, size: small, pr/external, Triage Required :hospital:, area/services, type/docs

#473 feat: Add identity Mixin for Primary Keys
  .pre-commit-config.yaml
  advanced_alchemy/base.py
  advanced_alchemy/mixins/__init__.py
  advanced_alchemy/mixins/bigint.py
  docs/usage/modeling.rst
  tests/integration/test_bigint_identity.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/base, area/private-api, area/docs, size: small, area/mixins

#475 fix: `wrap_exceptions` is re-enabled
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories

#479 fix(alembic): support for alembic 1.16 `toml_file` configuration
  .pre-commit-config.yaml
  advanced_alchemy/alembic/commands.py
  advanced_alchemy/config/common.py
  uv.lock
Labels: pr/internal, area/dependencies, type/bug, size: small, area/config, area/alembic
