Repository litestar-org/advanced-alchemy, pull requests merged in 2025-03, with the labels that each got.

#403 docs: removed utilities page in usage
  docs/usage/index.rst
  docs/usage/utilities.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#406 chore: add 3.13 to test ci workflow
  .github/workflows/ci.yml
Labels: pr/internal, size: small, pr/external, Triage Required :hospital:, area/ci

#411 docs: update autopytabs min version of python to 3.9 and max version to 3.13
  docs/conf.py
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#409 chore: update badges link for python version
  README.md
Labels: area/docs, size: small, pr/external, Triage Required :hospital:

#408 chore(ci): Migrating from Python 3.12 to 3.13 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  docs/usage/index.rst
  sonar-project.properties
  uv.lock
Labels: pr/internal, area/dependencies, area/docs, size: small, pr/external, area/ci

#400 docs: add fixtures/database seeding documentation
  docs/reference/repository.rst
  docs/usage/database_seeding.rst
  docs/usage/index.rst
Labels: pr/internal, area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#414 fix(litestar): simplify session type hints in service providers
  advanced_alchemy/extensions/litestar/providers.py
Labels: pr/internal, type/bug, size: small, area/litestar

#416 docs(flask): update Flask documentation with simplified examples and best practices
  docs/usage/frameworks/flask.rst
Labels: pr/internal, area/docs, size: small, type/docs

#417 feat: allow custom `not_found` error messages
  advanced_alchemy/exceptions.py
  advanced_alchemy/repository/_util.py
  tests/unit/test_exceptions.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories, area/exceptions

#415 feat(sanic)!: Refactor Sanic extension for multi-config support
  advanced_alchemy/extensions/sanic/__init__.py
  advanced_alchemy/extensions/sanic/config.py
  advanced_alchemy/extensions/sanic/extension.py
  examples/sanic.py
  pyproject.toml
  sonar-project.properties
  tests/unit/test_extensions/test_sanic.py
Labels: pr/internal, type/feat, area/dependencies, size: small, area/ci, area/example-apps, Breaking 🔨, area/sanic

#418 docs(flask): `async-in-sync` example should use the portal
  advanced_alchemy/extensions/flask/extension.py
  docs/usage/frameworks/flask.rst
Labels: pr/internal, area/docs, size: small, area/flask, type/docs

#420 chore(release): bump to `v1.0.0`
  .pre-commit-config.yaml
  Makefile
  advanced_alchemy/base.py
  advanced_alchemy/exceptions.py
  advanced_alchemy/extensions/sanic/config.py
  advanced_alchemy/extensions/sanic/extension.py
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/base.py
  advanced_alchemy/service/_util.py
  pyproject.toml
  uv.lock
Labels: pr/internal, area/dependencies, area/base, area/private-api, size: medium, area/repositories, area/services, area/exceptions, area/sanic

#421 fix(repo): logic correction for window function
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  tests/unit/test_repository.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories

#422 fix(dto): properly serialize `Relationship` type hints
  advanced_alchemy/extensions/litestar/dto.py
  tests/unit/test_extensions/test_litestar/test_dto.py
Labels: pr/internal, type/bug, size: small, area/litestar

#423 fix: prevent forward resolution issues
  advanced_alchemy/filters.py
Labels: pr/internal, type/bug, size: small, area/filters

#424 fix: correctly set `uniquify` from `new`
  advanced_alchemy/_serialization.py
  advanced_alchemy/alembic/templates/asyncio/env.py
  advanced_alchemy/alembic/templates/sync/env.py
  advanced_alchemy/config/common.py
  advanced_alchemy/extensions/litestar/dto.py
  advanced_alchemy/extensions/litestar/providers.py
  advanced_alchemy/extensions/sanic/config.py
  advanced_alchemy/extensions/sanic/extension.py
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  advanced_alchemy/utils/portals.py
  advanced_alchemy/utils/singleton.py
  advanced_alchemy/utils/sync_tools.py
  examples/litestar/litestar_repo_only.py
  examples/litestar/litestar_service.py
  pyproject.toml
  tests/unit/test_utils/test_sync_tools.py
Labels: pr/internal, area/dependencies, area/private-api, size: medium, type/bug, area/litestar, area/repositories, area/config, area/example-apps, area/alembic, area/services, area/sanic

#425 refactor: migrate to typos
  .pre-commit-config.yaml
  typos.toml
Labels: size: small, pr/external, Triage Required :hospital:
