Repository litestar-org/advanced-alchemy, pull requests merged in 2025-02, with the labels that each got.

#381 docs: rename NanoidBase -> NanoIDBase
  docs/usage/modeling.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:, type/docs

#383 fix(docs): Fix reference in `changelog.py`
  tools/sphinx_ext/changelog.py
Labels: pr/internal, type/bug, size: small, area/tools

#379 fix(#338): Query repository list method for custom queries
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
Labels: pr/internal, area/private-api, type/bug, size: small, pr/external, Triage Required :hospital:, area/repositories

#389 feat: add `uniquify` to service and repo
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories, area/services

#390 feat: improved default serializer
  advanced_alchemy/__metadata__.py
  advanced_alchemy/base.py
  advanced_alchemy/service/_util.py
Labels: pr/internal, type/feat, area/base, area/private-api, size: small, area/services

#392 chore(ci): use updated `sonarqube` scan action
  .github/workflows/ci.yml
Labels: pr/internal, size: small, area/ci

#395 fix: remove `limit` and `offset` from count statement
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories

#396 feat!: rename `force_basic_query_mode`
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  tests/integration/test_repository.py
  tests/unit/test_repository.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories, Breaking 🔨, area/services

#397 feat: add Enum to default type decoders
  .pre-commit-config.yaml
  advanced_alchemy/_serialization.py
  advanced_alchemy/extensions/litestar/plugins/init/plugin.py
  advanced_alchemy/service/_typing.py
  advanced_alchemy/service/_util.py
  docs/conf.py
  docs/usage/frameworks/fastapi.rst
  examples/standalone_json.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, area/docs, size: small, area/litestar, area/example-apps, area/services

#399 feat(litestar): use `CLIPlugin` instead of CLIPluginProtocol
  advanced_alchemy/extensions/litestar/plugins/init/plugin.py
Labels: pr/internal, type/feat, size: small, area/litestar

#401 feat(litestar): Use `SerializationPlugin`
  advanced_alchemy/extensions/litestar/plugins/serialization.py
  docs/changelog.rst
  pyproject.toml
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/docs, size: small, area/litestar
