Repository litestar-org/advanced-alchemy, pull requests merged in 2025-08, with the labels that each got.

#500 feat: gzip and zipped fixture support
  .gitignore
  .pre-commit-config.yaml
  advanced_alchemy/filters.py
  advanced_alchemy/repository/_util.py
  advanced_alchemy/service/_util.py
  advanced_alchemy/types/mutables.py
  advanced_alchemy/utils/fixtures.py
  pyproject.toml
  tests/integration/test_file_object.py
  tests/unit/test_utils/test_fixtures.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, size: medium, area/repositories, area/filters, area/services

#501 feat: match against complex types
  .gitignore
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  tests/unit/test_repository.py
Labels: pr/internal, type/feat, area/private-api, size: small, area/repositories

#502 fix: correctly handle `id_attribute` with `update`
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/_util.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  tests/integration/test_repository.py
  tests/unit/test_extensions/test_litestar/test_providers.py
  tests/unit/test_repository.py
  tests/unit/test_utils/test_sync_tools.py
  uv.lock
Labels: pr/internal, area/dependencies, area/private-api, size: medium, type/bug, size: small, area/repositories, area/services

#503 feat: `attrs` integration
  advanced_alchemy/service/__init__.py
  advanced_alchemy/service/_async.py
  advanced_alchemy/service/_sync.py
  advanced_alchemy/service/_typing.py
  advanced_alchemy/service/_util.py
  advanced_alchemy/service/typing.py
  docs/changelog.rst
  docs/usage/services.rst
  pyproject.toml
  tests/integration/test_attrs_service.py
  tests/unit/test_attrs_integration.py
  tests/unit/test_cattrs_integration.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, size: medium, area/docs, area/services

#510 chore: update `Creating a new release` instructions
  CONTRIBUTING.rst
Labels: area/docs, size: small, pr/external, Triage Required :hospital:

#429 feat(litestar): server side session backend
  .gitignore
  .pre-commit-config.yaml
  Makefile
  advanced_alchemy/alembic/utils.py
  advanced_alchemy/extensions/litestar/__init__.py
  advanced_alchemy/extensions/litestar/plugins/__init__.py
  advanced_alchemy/extensions/litestar/session.py
  advanced_alchemy/extensions/litestar/store.py
  advanced_alchemy/filters.py
  advanced_alchemy/mixins/sentinel.py
  advanced_alchemy/operations.py
  advanced_alchemy/service/_util.py
  docs/reference/exceptions.rst
  docs/reference/extensions/litestar/index.rst
  docs/reference/extensions/litestar/session.rst
  docs/reference/repository.rst
  docs/reference/utils.rst
  docs/usage/database_seeding.rst
  docs/usage/frameworks/litestar.rst
  pyproject.toml
  sonar-project.properties
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/repository_fixtures.py
  tests/integration/test_alembic_commands.py
  tests/integration/test_association_proxy.py
  tests/integration/test_attrs_service.py
  tests/integration/test_bigint_identity.py
  tests/integration/test_extensions/__init__.py
  tests/integration/test_extensions/test_litestar/__init__.py
  tests/integration/test_extensions/test_litestar/test_session.py
  tests/integration/test_extensions/test_litestar/test_store.py
  tests/integration/test_file_object.py
  tests/integration/test_filters.py
  tests/integration/test_loader_and_execution_options.py
  tests/integration/test_models.py
  tests/integration/test_operations.py
  tests/integration/test_oracledb_json.py
  tests/integration/test_password_hash.py
  tests/integration/test_repository.py
  tests/integration/test_sqlquery_service.py
  tests/integration/test_unique_mixin.py
  tests/unit/test_attrs_integration.py
  tests/unit/test_cattrs_integration.py
  tests/unit/test_extensions/test_litestar/test_dto_integration.py
  tests/unit/test_extensions/test_litestar/test_session.py
  tests/unit/test_extensions/test_litestar/test_store.py
  tests/unit/test_operations.py
  typos.toml
  uv.lock
Labels: pr/internal, type/feat, area/unit-tests, area/dependencies, area/private-api, area/docs, area/litestar, area/mixins, size: large, area/ci, area/alembic, area/filters, area/services, area/operations

#516 fix: `to_schema` and `attrs` type hint correction
  advanced_alchemy/service/_typing.py
  advanced_alchemy/service/_util.py
  advanced_alchemy/service/typing.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/services

#521 chore(docs): make docs consistent
  docs/changelog.rst
  docs/usage/database_seeding.rst
  docs/usage/frameworks/fastapi.rst
  docs/usage/frameworks/flask.rst
  docs/usage/frameworks/litestar.rst
  examples/fastapi/fastapi_fileobject.py
  examples/fastapi/fastapi_filters.py
  examples/fastapi/fastapi_service.py
  examples/fastapi/fastapi_service_full.py
  examples/flask/flask_services.py
  examples/litestar/litestar_fileobject.py
  examples/litestar/litestar_repo_only.py
  examples/litestar/litestar_service.py
  examples/sanic.py
  examples/standalone.py
  examples/standalone_json.py
Labels: size: medium, area/docs, pr/external, Triage Required :hospital:, area/example-apps

#525 chore(release): bump to v1.6.1
  docs/changelog.rst
  pyproject.toml
  uv.lock
Labels: area/dependencies, area/docs, size: small, pr/external, Triage Required :hospital:

#527 feat(cli): enable loading config from working directory
  advanced_alchemy/cli.py
  tests/unit/fixtures.py
  tests/unit/test_cli.py
Labels: pr/internal, type/feat, size: small

#529 fix: add warning message when using fallback value for a primary key
  advanced_alchemy/mixins/nanoid.py
  advanced_alchemy/mixins/uuid.py
Labels: pr/internal, size: small, pr/external, Triage Required :hospital:, area/mixins

#531 fix: litestar fileobject example
  docs/usage/frameworks/litestar.rst
  examples/litestar/litestar_fileobject.py
Labels: area/docs, type/bug, size: small, pr/external, Triage Required :hospital:, area/example-apps

#528 fix(obstore): pass Content-Type and metadata to backend storage
  advanced_alchemy/types/file_object/backends/obstore.py
  tests/integration/test_file_object.py
Labels: pr/internal, type/bug, size: small, pr/external, Triage Required :hospital:

#533 fix: correctly handle lazy attributes on update
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  tests/unit/test_repository.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories
