Repository litestar-org/advanced-alchemy, pull requests merged in 2025-09, with the labels that each got.

#539 fix: property correction
  advanced_alchemy/repository/_util.py
  tests/unit/test_repository.py
Labels: pr/internal, area/private-api, type/bug, size: small, area/repositories

#545 fix: improve `sync_tools` thread handling and update dependencies
  .pre-commit-config.yaml
  advanced_alchemy/alembic/commands.py
  advanced_alchemy/alembic/templates/asyncio/env.py
  advanced_alchemy/alembic/templates/sync/env.py
  advanced_alchemy/cli.py
  advanced_alchemy/extensions/flask/cli.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  advanced_alchemy/utils/sync_tools.py
  tests/integration/conftest.py
  tests/integration/test_alembic_commands.py
  tests/integration/test_file_object.py
  tests/integration/test_repository.py
  tests/unit/test_extensions/test_starlette.py
  tests/unit/test_file_object.py
  tests/unit/test_operations.py
  tests/unit/test_utils/test_sync_tools.py
  uv.lock
Labels: pr/internal, area/dependencies, size: medium, type/bug, area/repositories, area/alembic, area/flask

#547 chore(logging): make log consistent fastapi
  advanced_alchemy/extensions/starlette/config.py
  advanced_alchemy/utils/sync_tools.py
  pyproject.toml
Labels: area/dependencies, size: small, pr/external, Triage Required :hospital:, area/fastapi

#550 feat: handle and compare `numpy` arrays
  advanced_alchemy/repository/_async.py
  advanced_alchemy/repository/_sync.py
  advanced_alchemy/repository/_typing.py
  advanced_alchemy/repository/_util.py
  advanced_alchemy/repository/memory/_async.py
  advanced_alchemy/repository/memory/_sync.py
  pyproject.toml
  tests/unit/test_repository.py
  uv.lock
Labels: pr/internal, type/feat, area/dependencies, area/private-api, size: small, area/repositories
